body {
	font-size : 13pt;
	font-family : "Trebuchet MS", Arial, sans-serif;
	background-color: #375874;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

span {
	margin: 0;
}

#fond {
	background-repeat: no-repeat;
	position: absolute;
	left: 10%;
	top: 0;
	height: 800px;
	width: 1200px;
	margin: 0;
	padding: 0;
}

#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;

}

#status p {
	font-weight: bold;
}

#status div,#status p {
	display : inline-block;
}

#hot {
	color: #f44;
}

#cold {
	color: #09c;
}

#temperature {
	position : relative;
	color : black;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
	padding : 10px 20px;
}

#cache {
	float : right;
	position : absolute;
	height : 20px;
	width : 200px;
	background-color : #375874;
	right : 0;
	top : 0;
}

#progressbar {
  position : relative;
  width: 400px;
  height: 20px;
  border: none;
  background-image:
	   -webkit-linear-gradient(left, #09c, #f44);
  background-image:
	   -moz-linear-gradient(left, #09c, #f44);
}

.section {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
	background-color : white;
}
.section#intro {
	display : block;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}
.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : lightGray;
	background-color : black;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}


